@import url("animation-webkit-style.css");
@import url("animation-moz-style.css");
@import url("animation-ms-style.css");
@import url("animation-o-style.css");



/* Animation Effect Variables */

/*  */

@keyframes move-right-center {
	0% {
		transform: translateX(120px)translateY(-450px);
	}
	100% {
		transform: translateX(0px)translateY(0px);
	}
}

@keyframes down-element {
	0% {
		transform: translateY(-450px);
	}
	100% {
		transform: translateY(0px);
		position: absolute; 
	}
}
@keyframes move-up-element {
	0% {
		transform: translateY(450px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes rotate-full {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes walking-man {
	0% {
		transform: translateX(-150px)rotate(10deg);
		width: 75px;
	}
	10% {
		transform: translateX(-140px)rotate(10deg);
	}
	20% {
		transform: translateX(-130px)rotate(-10deg);
	}
	30% {
		transform: translateX(-105px)rotate(10deg);
	}
	40% {
		transform: translateX(-90px)rotate(-10deg);
	}
	50% {
		transform: translateX(-75px)rotate(10deg);
	}
	60% {
		transform: translateX(-60px)rotate(-10deg);
	}
	70% {
		transform: translateX(-45px)rotate(10deg);
	}
	80% {
		transform: translateX(-30px)rotate(-10deg);
	}
	90% {
		transform: translateX(-15px)rotate(10deg);
	}
	100% {	
		transform: translateX(0px);
		width: 200px;
	}
}

@keyframes zoom-inner-front {
	0% {
		transform: rotate(0deg);
		width: 75px;
	}
	10% {
		transform: rotate(10deg);
	}
	20% {
		transform: rotate(-10deg);
	}
	30% {
		transform: rotate(10deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-10deg);
	}
	70% {
		transform: rotate(10deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {	
		transform: rotate(360deg);
		width: 315px;
	}
}
