

/* Animation Effect Variables */

/*  moz  */

@-moz-keyframes move-right-center {
	0% {
		-moz-transform: translateX(120px)translateY(-450px);
	}
	100% {
		-moz-transform: translateX(0px)translateY(0px);
	}
}

@-moz-keyframes down-element {
	0% {
		-moz-transform: translateY(-450px);
	}
	100% {
		-moz-transform: translateY(0px);
		position: absolute; 
	}
}
@-moz-keyframes move-up-element {
	0% {
		-moz-transform: translateY(450px);
	}
	100% {
		-moz-transform: translateY(0px);
	}
}

@-ms-keyframes rotate-full {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes walking-man {
	0% {
		-moz-transform: translateX(-150px)rotate(10deg);
		width: 75px;
	}
	10% {
		-moz-transform: translateX(-140px)rotate(10deg);
	}
	20% {
		-moz-transform: translateX(-130px)rotate(-10deg);
	}
	30% {
		-moz-transform: translateX(-105px)rotate(10deg);
	}
	40% {
		-moz-transform: translateX(-90px)rotate(-10deg);
	}
	50% {
		-moz-transform: translateX(-75px)rotate(10deg);
	}
	60% {
		-moz-transform: translateX(-60px)rotate(-10deg);
	}
	70% {
		-moz-transform: translateX(-45px)rotate(10deg);
	}
	80% {
		-moz-transform: translateX(-30px)rotate(-10deg);
	}
	90% {
		-moz-transform: translateX(-15px)rotate(10deg);
	}
	100% {	
		-moz-transform: translateX(0px);
		width: 200px;
	}
}

@-moz-keyframes zoom-inner-front {
	0% {
		-moz-transform: rotate(0deg);
		width: 75px;
	}
	10% {
		-moz-transform: rotate(10deg);
	}
	20% {
		-moz-transform: rotate(-10deg);
	}
	30% {
		-moz-transform: rotate(10deg);
	}
	40% {
		-moz-transform: rotate(-10deg);
	}
	50% {
		-moz-transform: rotate(10deg);
	}
	60% {
		-moz-transform: rotate(-10deg);
	}
	70% {
		-moz-transform: rotate(10deg);
	}
	80% {
		-moz-transform: rotate(-10deg);
	}
	90% {
		-moz-transform: rotate(10deg);
	}
	100% {	
		-moz-transform: rotate(360deg);
		width: 315px;
	}
}
