<%= stylesheet_link_tag  "about-us", :media => "all" %>
<%= raw t(:about_us_content)%>
<!-- <section class="about-us">
	<div class="center-details">
		<div class="details">
			<div class="head">Hola, yo soy Mobby,</div>
			<p>Somos una startup especializada en márketing digital.</p>
			<p>Creemos verdaderamente que el márketing y el diseño  son la energia que mueve tu marca, negocio o concepto.</p>
			<div class="title">El secreto de Mobby es: </div>
			<ul class="tick-list-black">
				<li>hazlo interactivo</li>
				<li>hazlo divertido</li>
				<li>hazlo intuitivo</li>
				<li>haz que los usuarios quieran regresar</li>
			</ul>
		</div>
		<div class="details">
			<div class="head">Powered by Mobby</div>
			<div class="title">Algunas de nuestras platformas:</div>
			<p>
				<b>Mobbynet:</b> Red Social alrededor de compras, eventos y ofertas.
				HTML5 y webapps.
			</p>
			<p>
				<b>Mobby2go:</b> Programa móvil de fidelidad para smartphones. Android and Blackberry
			</p>
			<p>
				<b>Chat4:</b> App para chatear con recompensas. Android y Blackberry
			</p>
			<p>
			<b>Drink4:</b> Ordena con tu móvil comida y bebidas con recompensas y programa de fidelidad para la hosteleria. Android y Apple
			</p>
		</div>
	</div>
</section> -->
