<%= stylesheet_link_tag  "how", :media => "all" %>
	<section class="how-page">
		<div class="container">
			<div class="center">
				<div class="logo">
					<img src="/assets/logoa.png">
				</div>
				<div class="arrows">
					<img class="green" src="/assets/how/arrow-green.png">
					<img class="violet" src="/assets/how/arrow-violet.png">
					<img class="blue" src="/assets/how/arrow-blue.png">
					<img class="brown" src="/assets/how/arrow-brown.png">
					<img class="c-green" src="/assets/how/arrow-c-green.png">
				</div>
				<div class="circles">
					<div class="green circle">
						<div class="small-icon bg"><img src="/assets/how/icon-green.png"></div>
						<div class="content bg">
							<div class="name">Hotel Merchanidise</div>
						</div>
						<div class="title bg">Sell to your guest</div>
					</div>
					<div class="violet circle">
						<div class="small-icon bg"><img src="/assets/how/icon-violet.png"></div>
						<div class="content bg">
							<div class="name">City Merchandise</div>
						</div>
						<div class="title bg">City visual Impact</div>
					</div>
					<div class="blue circle">
						<div class="small-icon bg"><img src="/assets/how/icon-blue.png"></div>
						<div class="content bg">
							<div class="name">Event Merchandise</div>
						</div>
						<div class="title bg">For upcoming events</div>
					</div>
					<div class="brown circle">
						<div class="small-icon bg"><img src="/assets/how/icon-brown.png"></div>
						<div class="content bg">
							<div class="name">Organisation Merchandise</div>
						</div>
						<div class="title bg">
							Build team strength</div>
						</div>
						<div class="c-green circle">
							<div class="small-icon bg"><img src="/assets/how/icon-c-green.png"></div>
							<div class="content bg">
								<div class="name">Business Merchandise</div>
							</div>
							<div class="title bg">Your brand at clients home</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>