<%= stylesheet_link_tag  "how-to-design", :media => "all" %>
<%= raw t(:how_to_design) %>
<!-- <section class="how-to-design">
	<div class="container">
		<div class="section-title">Your customized merchandise products and marketing
			designed by you!</div>
			<div class="section-details">
				<p>
					Now you can create excellent marketing products that display your brand long after your clients or friends have visited your venue, hotel, business, festival, birthday, and more.
				</p>
				<p>
					Use our designs to create merchandise you can sell, give or use to make that moment special.
				</p>
			</div>

			<div class="how-it-work">
				<div class="title">How it work?</div>
				<div class="steps">
					<div class="step">
						<div class="img-holder"><img src="/assets/empty-tshirt.png"></div>
						<div class="about">
							<span class="count">1</span>
							<span>Select your apparel. Let us know if you don't see what you're looking for</span>
						</div>
					</div>
					<div class="step">
						<div class="img-holder make-center"><img src="/assets/empty-boy.png"></div>
						<div class="about">
							<span class="count">2</span>
							<span>Select our design, or upload your own images (preferably vector artwork)</span>
						</div>
					</div>
					<div class="step">
						<div class="img-holder"><img src="/assets/tshirt-boy.png"></div>
						<div class="about">
							<span class="count">3</span>
							<span>Start designing! Add your text, name, brand, business or event and customize it</span>
						</div>
					</div>
				</div>
			</div>

			<div class="customize-it">
				<div class="title">Customize it</div>
				<div class="intro">
					<div class="about">
						With our online tool you can your products exactly you wish. you are done will be printed
					</div>
					<div class="img-holder">
						<img src="/assets/center-image.png">
					</div>
				</div>

			

				<div class="tags">
					<div class="tag1">
						<span>Your Brand</span>
					</div>
					<div class="tag2">
						<span>Your Location</span>
					</div>
					<div class="tag3">
						<span>Your Merchandise</span>
					</div>
				</div>
				<div class="product-details">
					<img class="product-img" src="/assets/tshirt-boy-text.png">
					<div class="add-name">
						Add your text
						<img src="/assets/pointer-gallery.png">
					</div>
					<div class="add-img">
						Add ourexclusivedesigns or useyour ownimages, or wecreate acustom designfor you
						<img src="/assets/pointer-interface.png">
					</div>
					<div class="add-text">
						Add any text, location, numbers, names, etc
						<img src="/assets/pointer-templates.png">
					</div>
				</div>
			</div>
		</div>
	</section>
 -->
