<%= stylesheet_link_tag  "how-to-design", :media => "all" %>
<!-- <%= raw t(:how_to_design) %> -->
<section class="how-to-design">
	<div class="container">
		<div class="section-title">Tus productos personalizados para merchandise y
			márketing diseñados por ti</div>
			<div class="section-details">
				<p>
					Ahora puedes crear productos de márketing que mostrará tu marca luego que tus clientes o amigos hayan visitado tu negocio, hotel, festival, fiesta, y más.
				</p>
				<p>
					Usa nuestros diseños exclusivos para crear merchandise que puedes vender, regalar o usar y que convierte a ese momento en muy especial.
				</p>
			</div>
			<div class="how-it-work">
				<div class="title">Como funciona?</div>
				<div class="steps">
					<div class="step">
						<div class="img-holder"><img src="/assets/crew_front.png"></div>
						<div class="about">
							<span class="count">1</span>
							<span>Selecciona tu producto. Déjanos saber si no encuentras el producto que deseas.</span>
						</div>
					</div>
					<div class="step">
						<div class="img-holder make-center"><img src="/assets/cartoon.jpg"></div>
						<div class="about">
							<span class="count">2</span>
							<span>Seleciona nuestro diseño, o sube tu propia imagen (preferimos imágenes vectorizadas)</span>
						</div>
					</div>
					<div class="step">
						<div class="img-holder"><img src="/assets/tshirt-hotel.png"></div>
						<div class="about">
							<span class="count">3</span>
							<span>Comienza a diseñar! Agrega tu texto, nombre, marca, negocio o evento y personalizalo</span>
						</div>
					</div>
				</div>
			</div>
			<div class="customize-it">
				<div class="title">Personalizalo</div>
				<div class="intro">
					<div class="about">
						Con nuestra herramienta de diseño online puedes personalizar tus productos exactamente como lo desees. Cuando hayas terminado seimprimirá
					</div>
					<div class="img-holder">
						<img src="/assets/editor-image.png">
					</div>
				</div>
				<div class="tags">
					<div class="tag1">
						<span>Tu marca</span>
						</div>
						<div class="tag2">
							<span>Tu lugar</span>
						</div>
						<div class="tag3">
							<span>Tu merchandise</span>
						</div>
					</div>
					<div class="product-details">
						<img class="product-img" src="/assets/tshirt-hotel-text.png">
						<div class="add-name">
							Agrega tu texto
							<img src="/assets/pointer-gallery.png">
						</div>
						<div class="add-img">
							Agrega nuestros diseños exclusivos o usa tus propias imágenes, o te crearemos un diseño exclusivo para ti
							<img src="/assets/pointer-interface.png">
						</div>
						<div class="add-text">
							Agrega cualquier texto, lugar, números, nombres, etc.
							<img src="/assets/pointer-templates.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

