<%= stylesheet_link_tag  "index", "slider/style", :media => "all" %>
<%= javascript_include_tag  "slider/jquery-1.6.2.min", "slider/jquery.easing.1.3", "slider/style", "slider/jquery.mousewheel", "slider/jquery.contentcarousel"  %>
<section class="banner">
		<div class="container">
			<div class="slider">
				<div class="desc gallery">
					<div class="desc-head"><i class="banner-icon"></i>Choose from our gallery</div>
					<div class="desc-value">
						Lorem ipsum text goes
						<br/>
						Lorem ipsum text goes
					</div>
					<img class="pointer" src="assets/pointer-gallery.png">
				</div>
				<div class="desc templates">
					<div class="desc-head"><i class="banner-icon"></i>Attractive Templates</div>
					<div class="desc-value">
						Lorem ipsum text goes
						<br/>
						Lorem ipsum text goes
					</div>
					<img class="pointer" src="assets/pointer-templates.png">
				</div>
				<div class="desc interface">
					<div class="desc-head"><i class="banner-icon"></i>Simple iterface</div>
					<div class="desc-value">
						Lorem ipsum text goes
						<br/>
						Lorem ipsum text goes
					</div>
					<img class="pointer" src="assets/pointer-interface.png">
				</div>
				<div class="center-image">
				<img src="assets/center-image.png">
				</div>
			</div>
		</div>
	</section>
	<section class="testimonials">
		<div class="container">
			<p>This is one of the best website to make<br/>attractive collages and i really loved it - Hari prasad M</p>
		</div>
	</section>
	<section class="process-steps hi-icon-effect-9 hi-icon-effect-9a">
		<div class="container">
			<div class="row">
				<div class="span4 choose-design">
					<a href="" class="hi-icon "><img src="assets/design-icon.png"></a>
					<!-- <div class="icons"></div> -->
					<p class="title">Choose a Design</p>
					<p class="sub-title">Lorem ipsum text</p>
				</div>
				<div class="span4 add-photo">
					<a href="" class="hi-icon "><img src="assets/photo-icon.png"></a>
					<!-- <div class="icons"></div> -->
					<p class="title">Add a photo</p>
					<p class="sub-title">Lorem ipsum text</p>
				</div>
				<div class="span4 save-icon">
					<a href="" class="hi-icon "><img src="assets/save-icon.png"></a>
					<!-- <div class="icons"></div> -->
					<p class="title">Save &amp; Share</p>
					<p class="sub-title">Lorem ipsum text</p>
				</div>
			</div>
		</div>
	</section>
	<section class="images">
		<div class="container">
			<div id="ca-container" class="ca-container featured-slider">
				<div class="ca-wrapper">
					<div class="ca-item ca-item-1">
						<img src="assets/ts1.png">
					</div>
					<div class="ca-item ca-item-2">
						<img src="assets/ts2.png">
					</div>
					<div class="ca-item ca-item-3">
						<img src="assets/ts3.png">
					</div>
					<div class="ca-item ca-item-4">
						<img src="assets/ts4.png">
					</div>
					<div class="ca-item ca-item-5">
						<img src="assets/ts2.png">
					</div>
					<div class="ca-item ca-item-6">
						<img src="assets/ts3.png">
					</div>
				</div>
			</div>
		</div>
	</section>

<script type="text/javascript">
	$(document).ready(function() {
		if($('#ca-container .ca-item').length>4)
			$('#ca-container').contentcarousel();
	});

</script>