<%= stylesheet_link_tag  "partners", :media => "all" %>

<!-- <%=raw t(:partners_content) %> -->

<section class="partner-us">
	<div class="container">
		<div class="row">
			<%=raw t(:partners_content) %>
			<!-- <div class="span6 about-partner text-center">
				<p class="title">Quieres ser nuestro socio?</p>
				<p class="sub-title">Porqué no abres tu ciudad a Mobbyart?</p>
				<p>Podemos crear diseños exclusivos que reflejan la personalidad de tu ciudad como mapas, animaciones, personajes históricos, monumentos, etc.</p>
				<p>que pueden ser personalizados online e impresos en diferentes productos. Podrás vender nuestros productos a todos los negocios, clubes deportivos, museos, atracciones y eventos en tu ciudad.</p>
			</div> -->
			<div class="partner-lady span6">
				<img src="/assets/partnerships.png">
				<div class="partner-mail">
					partners@mobbyart.com
				</div>
			</div>
		</div>
	</div>
</section> 

