<%= stylesheet_link_tag  "partners", :media => "all" %>

<%=raw t(:partners_content) %>

<!-- 
<section class="partner-us-page">
	
	<div class="contact-part1">
		<div class="container">
			<div class="content">
				<img src="/assets/arrow-orange.png" class="arrow-orange">
				<p class="marked">Would you like to be our partner?</p>
				<p class="sub-head">Why don't you open your city?</p>
				<p>We can create exclusive designs that will reflect your city evironment like maps, cartoons, historic personages, monuments, etc.</p>
				<p>You will be able to sell our products in your city to all the businesses, sport organizations, museums, city atteractions and more.</p>
			</div>
		<div class="partner-mail">
			<img src="/assets/partner-mail.png">
			<img src="/assets/partner.png">
		</div>
		</div>
	</div>

	
</section> -->

