<%= stylesheet_link_tag  "partners", :media => "all" %>

<!-- <%=raw t(:partners_content) %> -->

<section class="partner-us">
	<div class="container">
		<div class="row">
			<div class="span6 about-partner text-center">
				<p class="title">Would you like to be our partner?</p>
				<p class="sub-title">Why don't you open your city?</p>
				<p>We can create exclusive designs that will reflect your city evironment like maps, cartoons, historic personages, monuments, etc.</p>
				<p>You will be able to sell our products in your city to all the businesses, sport organizations, museums, city atteractions and more.</p>
			</div>
			<div class="partner-lady span6">
				<img src="/assets/partnerships.png">
		<div class="partner-mail">
			partners@mobbyart.com
		</div>
			</div>
		</div>
	</div>
</section> 

