<%= stylesheet_link_tag "privacy",:media=>"all" %>

<%=raw t(:privacy_policy_content) %>

<!-- <section class="privacy">
	<div class="container">
		<div class="page-title">Privacy Policy</div>
		<div class="division">
			<div class="about">
				<p>Your privacy is important to us. </p>
				<p>All information you provide will be stored in electronic files under responsibility of Mobby Marketing (Mobby), headquartered in Neuquén 838, Buenos Aires, Argentina.</p>
			</div>
			<div class="terms">
				<ul class="policy-list">
					<li>
						By providing your information, the user declares to Mobby that are true, to the extent of their knowledge. Similarly, Mobby keep these data with the aim of providing high quality personalized services including advice and information about our products or services and those of other partner companies.
					</li>
					<li>
						By providing your information you grant to Mobby an irrevocable, universal and free right to use, reproduce, modify, distribute, publicly display and implement, within the Web site and mobile applications, services arising from the use of the content provided, and sub-license to third parties exclusively for carrying out operational tasks and / or maintenance of the website and mobile applications.
					</li>
					<li>
						Mobby reserves the right to remove content posted when the violation of third party rights has been certified. Mobby assumes no liability for these violations and also not for control of ownership of these rights. The complainant party must prove ownership of those rights.
						The user assumes full responsibility for complying with all legal regulations, laws and regulations binding in relation to the purpose of this Software.
					</li>
					<li>
						Mobby will use your information to send you offers, promotions, and recommendations about products and services related to our business.
					</li>
					<li>
						User may exercise their right of access, rectification, opposition and cancellation of ration and Account Information
					</li>
					<li>
						This website requires you to register as a user or create an account. By registering or creating an account, you agree to provide accurate and complete information and to inform us of any changes to that information. Each registration is for a single user only, unless otherwise expressly provided on the registration page. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. In case of misuse, we may terminate further access or take such other action as we, in our sole discretion, deem appropriate. If you believe there has been unauthorized use, you must notify us immediately.
					</li>
					<li>
						If you do not agree with the Privacy Policy, do not use the Website and apps. Website Owner reserves the right, in its discretion, to change, modify, add or remove portions of the Privacy Policy at any time. The changes will be posted on the site. Your continued use of the Website and apps following the posting of changes to the Privacy Policy will mean you accept those changes. 
					</li>
					<li>
						If you need more information about our Legal Terms and Privacy police please contact us.their data by sending an e-mail or by written request signed to Mobby.
					</li>
				</ul>
			</div>
		</div>
		<div class="division">
			<div class="title">Registration and Account Information</div>
			<div class="about">
				<p>
					This website requires you to register as a user or create an account. By registering or creating an account, you agree to provide accurate and complete information and to inform us of any changes to that information. Each registration is for a single user only, unless otherwise expressly provided on the registration page. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. In case of misuse, we may terminate further access or take such other action as we, in our sole discretion, deem appropriate. If you believe there has been unauthorized use, you must notify us immediately.
				</p>
				<p>
					If you do not agree with the Privacy Policy, do not use the Website and apps. Website Owner reserves the right, in its discretion, to change, modify, add or remove portions of the Privacy Policy at any time. The changes will be posted on the site. Your continued use of the Website and apps following the posting of changes to the Privacy Policy will mean you accept those changes. 
				</p>
				<p>
					If you need more information about our Legal Terms and Privacy police please contact us.
				</p>
			</div>
		</div>	
	</div>	
</section> -->