<%= stylesheet_link_tag  "checkout-complete", :media => "all" %>
	<section class="checkout-page">
		<div class="container">

			<div class="page-title">Checkout</div>

			<fieldset class="my-account">
				<div class="title">My Account</div>
				<div class="field">
					<label>Email *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="billing-address">
				<div class="title">Billing Address</div>
				<div class="field">
					<label>Country *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>First Name *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Last Name *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Company</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Address 1 *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Address 2</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>City *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>State / Province *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Postal Code *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Phone *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="show-shipping-address">
					<input type="checkbox" name="" value="" id="differ-address">
					<label for="differ-address">Use a different shipping address.</label>
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="shipping-address hide">
				<div class="title">Shipping Address</div>
				<div class="field">
					<label>Country *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>First Name *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Last Name *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Company</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Address 1 *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Address 2</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>City *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>State / Province *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Postal Code *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Phone *</label>
					<input type="text" name="" value="" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="shipping-sub-total">
				<div class="title">Shipping & Subtotal</div>
				<div class="field">
					<label>Cart Subtotal</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Shipping & Handling</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Tax</label>
					<input type="text" name="" value="" placeholder="">
				</div>
				<div class="field">
					<label>Order Total</label>
					<input type="text" name="" value="" placeholder="">
				</div>
			</fieldset>
			<div class="clearfix"></div>

			<fieldset class="payment-types">
				<div class="title">Shipping & Subtotal</div>
				<div class="field">
					<img src="/assets/logo-visa.png">
					<img src="/assets/logo-master-card.png">
					<img src="/assets/logo-paypal.png">
				</div>
			</fieldset>
			<div class="clearfix"></div>
			<button type="submit" class="btn btn-success btn-large pull-right">Complete Your Payment</button>
			<div class="clearfix"></div>
		</div>
	</section>



	<script type="text/javascript">
		$(document).ready(function(){
			$(document).on("change",".show-shipping-address input",function(){
					$(".shipping-address").toggle();
			});

			$(document).on("click",".payment-types img",function(){
					$(".payment-types img").each(function(){$(this).removeClass("selected")});;
					$(this).addClass("selected");
			});
		});
</script>