
.tick-list-black{
	list-style: none;
	margin-left: 0px;
}
.tick-list-black li{
	padding-left: 20px;
	background: url(/assets/list-tick.png) no-repeat left center;
	margin-left: 5px;
}


.about-us{
	margin-top: 50px;
	padding: 50px;
	background: url(/assets/crowd.jpg) center no-repeat;
	color: #fff;
	.center-details{
		width: 590px;
		padding: 25px;
		border-radius: 10px;
		margin: 0 auto;
		background: #AFAFAF;
		.details{
			padding: 20px 0px;
		}
		.head{
			text-align: center;
			padding: 10px 0px;
			font-size: 25px;
			font-style: italic;
			font-weight: bolder;
		}
	}
}