/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require common
 *= require component
 *= require animate/animation-style

 */

	@font-face {
        font-family: "sp";
        src: url('fonts/sp/sp.eot');
        src: url('fonts/sp/sp.eot?#iefix') format('embedded-opentype'),
        url('fonts/sp/sp.svg#Segoe Print') format('svg'),
        url('fonts/sp/sp.woff') format('woff'),
        url('fonts/sp/sp.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
body{
	min-width: 1000px;	
}