@font-face {
	font-family: 'MyriadProRegular';
	src: url('fonts/mp/mr.eot');
	src: url('fonts/mp/mr.eot') format('embedded-opentype'),
	url('fonts/mp/mr.woff') format('woff'),
	url('fonts/mp/mr.ttf') format('truetype'),
	url('fonts/mp/mr.svg#MyriadProRegular') format('svg');
}

body{
	line-height: 25px;
	font-family: 'MyriadProRegular';
	/*margin-bottom: 50px;*/
}
.bold{
	font-weight: bold;
}
.container{
	position: relative;
}

#flash_alert,#flash_notice{
	text-align: center;
	color: #eb623f;
}




/* Home Page */
/* Header */

.change-language{
	position: absolute;
	z-index: 25;
	top: 5px;
	bottom: auto;
	right: 20px;
	font-weight: bolder;
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
}
.change-language a{
	color: #00EBFF;
}
.change-language img{
	width: 40px;
	height: 27px;
	margin-left: 10px;
}
.change-language img:hover{
	box-shadow: 0px 0px 3px #fff;
	-webkit-box-shadow: 0px 0px 3px #fff;
	-moz-box-shadow: 0px 0px 3px #fff;
	-ms-box-shadow: 0px 0px 3px #fff;
	-o-box-shadow: 0px 0px 3px #fff;
}

.change-language div{
	display: inline-block;
	margin-left: 20px;
}
.change-language .lang{
	display: inline-block;
	margin-left: 20px;
}
.change-language .login-details{
	display: inline-block;
	margin-left: 20px;
}

header{
	width: 100%;
	min-width: 1000px;
	height: 100px;
	background: #454545;
}

.home-link,.home-link:hover,.home-link:focus,.home-link:visited{
	text-decoration: none;
}


header img{
	width: 138px;
}
.logo-name{
	font-size: 42px;
	color: #fff;
	margin-left: -15px;
	font-style: italic;
}
.logo-name span{
	color: #00EBFF;
}
.cl-effect-21{
	display: inline-block;
	float: right;
	padding: 10px 0px;
	padding-top: 45px;
}
.cl-effect-21 a{
	padding: 6px 10px !important;
	margin: 5px 10px;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
}
.nav-menu{
	padding: 35px 0px;
	list-style: none;
	margin-left: 0px;
	text-transform: uppercase;
	color: #fff;
	float: right;
}
.nav-menu li{
	float: left;
	padding: 0px 10px;
}
.nav-menu a{
	padding: 10px;
	font-size: 25px;
	line-height: 30px;
	color: #fff !important;
	text-decoration: none;
}
.nav-menu a:hover{
	background: #643a79;
	border-radius: 5px;
}
nav a{
	color: #fff !important;
}
/* Header */




.footer-border{
	margin: 0px;
	border-top-color: #2d2e2e;
	border-bottom-color: #5b5c5c;
}
.footer{
	font-size: 12px;
	color: #fff;
	background: #5ac1d7;
}
.other-nav{
	padding: 25px 0px;
}
.footer-link-box{
	width: 735px;
}
.footer-links{
	display: inline-block;
	width: 240px;
	vertical-align: top;
}
.link-head{
	font-family: 'MyriadProRegular';
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	padding: 15px 0px;
}
.footer-links ul{
	list-style: none;
	margin-left: 0px;
	width: 90%;
}

.footer-links li{
	padding: 3px 0px;
	padding-left: 20px;
	background: url(/assets/list-arrow.png) no-repeat left center;
}
.footer-links .tick-list li{
	padding-left: 20px;
	background: url(/assets/list-tick.png) no-repeat left center;
}
.footer-links li a{
	color: #fff;
}
.contact{
	width: 185px;
}
.contact-border{
	margin: 10px 0px;
	border-top-color: #41a7c0;
	border-bottom-color: #44aac3;
}
.address{
	
}
.address span{
	display: block;
}
.follow-us{
	
}
.follow-us a{
	width: 32px;
	background-image: url(/assets/social-icons.png);
	height: 32px;
	display: inline-block;
	margin: 0px 5px;
}
.follow-us a:hover{
	-webkit-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-moz-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-ms-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-o-animation: rotate-full 0.5s ease-in-out 1 forwards;
	animation: rotate-full 0.5s ease-in-out 1 forwards;
}
.social-in{
	background-position: -32px 0px;
}
.social-rss{
	background-position: -67px 0px;
}
.social-fb{
	background-position: -100px 0px;
}
.bottom-links{
	background: #0b4b5a;
	color: #8adcf0;
	padding: 20px;
}
.bottom-links a{
	color: #8adcf0;
	padding-left: 25px;
}

