.contact-us-page{
	margin-top: 50px;
}
.page-title{
	color: #eb3506;
	font-size: 35px;
	line-height: 40px;
	padding: 10px 0px;
	font-weight: bolder;
	text-align: center;
}
.contact-part1,.contact-part2{
	margin-top: 40px;
	padding: 40px 0px;
	text-align: left;
}
.contact-part2{
	background: #f6f4f3;
}
.marked{
	color: #eb3506;
	font-size: 16px; 
	text-shadow: 0px 0px 1px #eb3506;
	-webkit-text-shadow: 0px 0px 1px #eb3506;
	-moz-text-shadow: 0px 0px 1px #eb3506;
	-ms-text-shadow: 0px 0px 1px #eb3506;
	-o-text-shadow: 0px 0px 1px #eb3506;

}
.contact-us-page ul{
	list-style: none;
	
}
.contact-us-page ul li{
	padding: 5px 0px;	
}

.content{
	padding: 20px;
	border-radius: 15px;
	border: 2px dashed #5ac1d7;
	position: relative;
	text-shadow: 0px 0px 1px #000;
	-webkit-text-shadow: 0px 0px 1px #000;
	-moz-text-shadow: 0px 0px 1px #000;
	-ms-text-shadow: 0px 0px 1px #000;
	-o-text-shadow: 0px 0px 1px #000;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.arrow-orange{
	position: absolute;
	top: -60px;
	left: -50px;
}
.contact-box{
	position: relative;
	padding: 20px;
	box-shadow: 0px 0px 10px 5px #757575;
	-webkit-box-shadow: 0px 0px 10px 5px #757575;
	-moz-box-shadow: 0px 0px 10px 5px #757575;
	-ms-box-shadow: 0px 0px 10px 5px #757575;
	-o-box-shadow: 0px 0px 10px 5px #757575;
	width: 500px;
	margin: 0 auto;
}
.contact-box .corner{
	position: absolute;
	top: -20px;
	right: -50px;	
}
.contact-box .title{
	font-size: 20px;
	font-weight: bolder;
	padding: 10px 0px;
	text-align: left;
}
.contact-box .underline{
	height: 4px;
	border: 1px solid #696969;
	margin-bottom: 20px;
	border-top-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 82%;
}
.contact-box input{
	height: 30px;
	width: 49%;
}
.contact-box input.name{
	margin-right: 4px;
}
.contact-box textarea{
	width: 100%;
	height: 100px;
	resize: none;
}


.contact-us{
	margin-top: 50px;
	padding: 50px 0px;
	background: url(/assets/contact-bg.png);
	.left-side{
		color: #808080;
		font-size: 13px;
		background: #fff;
		padding: 20px;
		padding-bottom: 55px;
		height: 400px;
		.left-mark{
			margin: 10px 0px; 
		}
		.title{
			text-align: center;
			font-size: 17px;
			font-weight: bold;
			font-style: italic;
			padding-top: 15px;
		}
		.sub-title{

		}
		ul{
			list-style: none;
			width: 175px;
			margin: 0 auto;
		}
	}
	.right-side{
		background: #ddd;
		padding: 20px;
		margin-left: 0px;
		padding-left: 40px;
		padding-top: 45px;
		.span6{
			margin-top: 16px;
		}
	}
	.skype-details{
		margin: 40px 0px;
		text-align: center;
		img{
			padding: 20px;
			cursor: pointer;
		}
		.mail-id{
			background: #808080;
			font-size: 18px;
			padding: 10px;
			display: inline-block;
			margin: 0 auto;
			a{
				color: #fff;
			}
		}
	}
}
.twitter-contact{
	position: absolute;
	bottom: 48px;
	left: 125px;
}

.twitter-contact:hover{
	-webkit-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-moz-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-ms-animation: rotate-full 0.5s ease-in-out 1 forwards;
	-o-animation: rotate-full 0.5s ease-in-out 1 forwards;
	animation: rotate-full 0.5s ease-in-out 1 forwards;
}