/* Editor */

.editor{
	margin-top: 80px;
	margin-bottom: 50px;
}
.editor-box{
	box-shadow: 0px 0px 10px #97d1dc;
	-moz-box-shadow: 0px 0px 10px #97d1dc;
	-webkit-box-shadow: 0px 0px 10px #97d1dc;
	-ms-box-shadow: 0px 0px 10px #97d1dc;
	-o-box-shadow: 0px 0px 10px #97d1dc;
	
	border-radius: 10px;
	padding: 5px;

	min-height: 500px;
	min-width: 500px;

}
.left-side{
	border-radius: 5px;
	background: #e5e5e5;
}
.left-side,.right-side{
	vertical-align: top;
	display: inline-block;
	width: 460px;
	padding: 5px;
	
	min-height: 400px;
	min-width: 400px;
}

.about-product{
	padding-bottom: 10px;
	border-bottom: 2px #5ac1d7 solid;
}
.product,.decoration{
	font-size: 17px;
}
.product div, .product a,.decoration div, .decoration a{
	display: inline-block;
}
.product .title,.decoration .title{
	color: #5ac1d7;
}
.product .desc,.decoration .desc{
	color: #797979;
}
.product .edit-link,.decoration .edit-link{
	color: #ee5b38;
	margin-left: 10px;
}
.product .edit-link:hover,.decoration .edit-link:hover{
	color: #ff3000;
	margin-left: 10px;
}


.main-canvas {
    height: 500px;
    overflow: hidden;
    padding: 10%;
    width: 450px;
}


.canvas-operation{
}
.canvas-operation a{
	display: inline-block;
	text-align: center;
	color: #4f5d73;
	font-size: 15px;
	margin: 0px 10px;
	font-weight: bold;
	text-transform: uppercase;
}	
.canvas-operation a.zoom .img-icon{
	background-position: -62px 0px;
}
.canvas-operation a.clear .img-icon{
	background-position: -123px 0px;
}
.canvas-operation a .img-icon{
	padding: 26px;
	margin-bottom: 10px;
	background: url(/assets/bellow-canvas-icons.png);
}
.canvas-operation a:hover .img-icon{
	
}
.calculate,.calculate:hover{
	background: #39a0b9;
	vertical-align: top;
	color: #fff;
	padding: 5px 15px;
	border-radius: 10px;
	text-decoration: none;
	width:183px;
}

.calculate div{
	color: #fff;
}
.calculate div:first-child{
	color: #fff;
}
.calculate div:last-child{
	color: #fff;
}

.right-side{
	border-left: 2px #5ac1d7 solid;
}
.welcome-msg{
	text-align: center;
	background: #5ac1d7;
	border-radius: 5px;
	padding: 10px 0px;
	color: #fff;
	position: relative;
	margin-left: 10px;
	padding: 5px;
}
.welcome-msg p{
	margin: 0px;
}
.welcome-msg p i{
	color: #eb623f;
}
.welcome-msg p:first-child{
	font-size: 23px;
	line-height: 25px;
	padding-bottom: 3px;
}
.welcome-msg p:last-child{
	font-size: 14px;
	line-height: 25px;	
}
.welcome-msg:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.welcome-msg:after {
	border-color: rgba(90, 193, 215, 0);
	border-right-color: #5ac1d7;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}

.tab-content-box{
	margin: 15px 0px;
	margin-left: 15px;
	background: #e5e5e5;
	padding: 10px;
	position: relative;
	border-radius: 10px;
}
.single-content-box{
	background: #f5f3f2;
	padding: 10px;
	color: #797979;
	height: 488px;
	overflow-y: auto;
}

.tab-content-box:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tab-content-box:after {
	border-color: rgba(229, 229, 229, 0);
	border-right-color: #e5e5e5;
	border-width: 15px;
	top: 25%;
	margin-top: -15px;
}

.edit-product .header{
	
}
.edit-product p{
	margin: 0px;
}
.edit-product button{
	margin: 5px;
}
.edit-product .header:last-child{
	margin-top: 10px;
}
.title{
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	padding: 5px 0px;
	text-transform: uppercase;
}
.title span{
	color: #ee5b38;
}
.find-product{
	color: #fff;
	background: #ee5b38;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
	text-transform: capitalize;
	position: absolute;
	right: 33px;
	top: 33px;
}

.details{
	margin-top: 10px;
}
.details .name{
	color: #ee5b38;
	font-size: 15px;
	font-weight: bold;
}
.details .author{
	font-size: 13px;
	
}
.details span{
	text-transform: uppercase;
	font-weight: bold;
}

.operations{
}

.operations a{
	display: inline-block;
	text-align: center;
	color: #4f5d73;
	font-size: 14px;
	line-height: 18px;
	margin-left: 5px;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 66px;
}	

.operations .current{
	color: #ee5b38;
}
.operations a.text .img-icon{
	background-position: -72px 0px;
}
.operations a.notes .img-icon{
	background-position: -144px 0px;
}
.operations a.edit .img-icon{
	background-position: -217px 0px;
}
.operations a.save .img-icon{
	background-position: -294px 0px;
}
.operations a.load .img-icon{
	background-position: -360px 0.5px;
}


.operations a .img-icon{
	padding: 31px;
	margin-bottom: 10px;
	background: url(/assets/operations-icons.png);
	display: inline-block;
	margin-left: 3px;
}
.operations a:hover .img-icon{
	
}


/* Add Image Content */ 

.inner-tabs{
	
}
.inner-tabs a{
	width: 30%;
	color: #ee5b38;
	text-align: center;
	display: inline-block;
	border: 1px #000 solid;
	padding: 10px 0px;
	margin-right: 10px;
	border-radius: 26px;
	text-decoration: none;
}
.inner-tabs a:hover,.inner-tabs a.current{
	background: #FF9076;
	color: #fff;
}
.inner-tab-content{
	padding-top: 10px;
}
.clip-arts, .product-arts{

}
.clip-art-category, .product-art-category{
	height: 100px;
	overflow-y: auto;
}
.clip-art-category a, .product-art-category a{
	display: inline-block;
	width: 30%;
}
.clip-art-category a.current, .product-art-category a.current{
	color: #ee5b38;
}
.clip-art-list, .product-art-list{
	height: 300px;
	overflow-y: auto;
	background: #fff;
	outline: 1px dashed #ddd;
}
.clip-art-list img, .product-art-list img{
	border: 1px solid #000;
	height: 50px;
	width: 50px;
	margin: 10px;
	cursor: pointer;
}
.clip-art-list img:hover, .product-art-list img:hover{
	box-shadow: 0px 0px 25px -3px #000;
}

.my-image-list{
	height: 345px;
	overflow-y: auto;
	background: #fff;
	outline: 1px dashed #ddd;
}
.my-image-list img{
	border: 1px solid #000;
	height: 70px;
	width: 70px;
	margin: 10px;
	cursor: pointer;
}
.my-image-list img:hover{
	box-shadow: 0px 0px 25px -3px #000;
}

.text-input{
	width: 100%;
	height: 100px;
	resize: none;
}
.edit-text-panel{
	position: relative;
}
.add-remove-btn{
	position: absolute;
	right: 0px;
	top: 0px;
}
.add-remove-btn .btn{
	font-size: 12px;
}
.layer-order{
	
}
.layer-order .btn{
	font-size: 12px;
	display: block;
	margin: 10px;
}

/* design notes */
.text-design-notes{
	width: 100%;
	height: 315px;
	resize: none;
}

.color-preview {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 2px;
    overflow: hidden;
    vertical-align: top;
    width: 20px;
}