
/* Banner */
.banner{
	padding: 50px 0px;
	background: #fff;
	text-align: center;
}
.slider{
	background: url(/assets/mac-book.png) center no-repeat; 
	width: 100%;
	height: 440px;
	position: relative;
}
.center-image{
	position: absolute;
	background: #ddd;
	height: 275px;
	width: 417px;
	left: 257px;
	top: 54px;
}
.center-image img{
	width: 100%;
	height: 100%;
}
.desc{
	position: absolute;
	text-align: left;
}
.desc i{
	padding: 0px 18px;
	background: url(/assets/banner-icons.png) no-repeat top left;
}
.templates i{
	background-position: -36px 0px;
	padding: 3px 20px;
}

.interface i{
	background-position: -77px 0px;
	padding: 3px 20px;
}
.desc-head{
	color: #eb623f;
	font-size: 20px;
	line-height: 25px;
}
.desc-value{
	margin-left: 35px;
}
.pointer{
	position: absolute;
}

.gallery{
	left: -60px;
	top: 30px;
	-webkit-animation: down-element 2s ease-in-out 1 forwards;
	-moz-animation: down-element 2s ease-in-out 1 forwards;
	-ms-animation: down-element 2s ease-in-out 1 forwards;
	-o-animation: down-element 2s ease-in-out 1 forwards;
	animation: down-element 2s ease-in-out 1 forwards;
}
.gallery .pointer{
	top: -25px;
	right: -30px;
}
.templates{
	left: -100px;
	bottom: 25px;
	-webkit-animation: move-up-element 2s ease-in-out 1 forwards;
	-moz-animation: move-up-element 2s ease-in-out 1 forwards;
	-ms-animation: move-up-element 2s ease-in-out 1 forwards;
	-o-animation: move-up-element 2s ease-in-out 1 forwards;
	animation: move-up-element 2s ease-in-out 1 forwards;
}
.templates .pointer{
	left: 175px;
	bottom: 90px;
}
.interface{
	right: -50px;
	bottom: 100px;
	-webkit-animation: move-right-center 2s ease-in-out 1 forwards;
	-moz-animation: move-right-center 2s ease-in-out 1 forwards;
	-ms-animation: move-right-center 2s ease-in-out 1 forwards;
	-o-animation: move-right-center 2s ease-in-out 1 forwards;
	animation: move-right-center 2s ease-in-out 1 forwards;
}
.interface .pointer{
	right: 100px;
	bottom: 100px;
}
/* Banner */

/* Testimonial */
.testimonials{
	font-family: 'MyriadProRegular';
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	padding: 20px;
}
/* Testimonial */

/* Icons */
.process-steps{
	background: #edf0f0;
	text-align: center;
}
.process-steps p{
	margin: 0px;
	padding: 5px 0px 10px 0px;
}
.title{
	font-size: 18px;
	font-weight: bold;
	color: #3b86c4;
	text-transform: uppercase;
	padding-top: 20px !important;
	padding-bottom: 5px !important;
}
.sub-title{
	font-size: 15px;
	color: #404040;
}
.choose-design, .add-photo, .save-icon{
	padding: 20px 0px;
}
.add-photo .title{
	color: #d43f3f;
}
.save-icon .title{
	color: #e8b20f;
}
/* Icons */

/* Images */
.images{
	background: #343434;
}
.images img{
	height: 225px;
	width: 185px;
	border-radius: 10px;
}
/* Images */


.process-steps .icons{
	/*box-shadow: 0 0 0 4px rgba(255,255,255,1);*/
	display: inline-block;
	padding: 80px 79px;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
	opacity: .5;
}

.process-steps .icons:hover {
	zoom:1.02;
	opacity: 1;
}

.process-steps .icons:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

.choose-design .icons{
	background: url(/assets/design-icon.png);
}
.add-photo .icons{
	background: url(/assets/photo-icon.png);
}
.save-icon .icons{
	background: url(/assets/save-icon.png);
}



/* component icon css */


.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	-ms-box-sizing: content-box; 
	-o-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-size: 48px;
	line-height: 160px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	-ms-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-ms-transition: -ms-transform 0.2s, opacity 0.2s;
	-o-transition: -o-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.no-touch .hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	border: 1px solid;
}

.no-touch .hi-icon-effect-9b .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
	color: #fff;
}


/* banner slider */

.carousel{
	position: relative;
	.carousel-control{
		top: 50%;
		background: none;
		border: none;
		visibility: hidden;
	}
	.item img{
		width: 417px;
		height: 274px;
	}
}
.carousel:hover{
	.carousel-control{
		visibility: visible;
	}

}
