
p{
	padding: 10px 0px;
	font-size: 17px;
}
.partner-lady{
	text-align: right;
	margin-left: 0px;
	background: #fff;
	img{
		vertical-align: top;
		width: 175px;
	}

	.partner-mail{
		text-align: center;
		width: 278px;
		padding: 18px;
		background: #999;
		color: #fff;
		margin: 10px 50px;
		position: relative;
		font-size: 18px;
		border-radius: 10px;
		position: relative;
	}
	.partner-mail:before {
		content:"";
		position:absolute;
		top:-100px;
		right:60px;
		border-width:100px 50px 0 0;
		border-style:solid;
		border-color:transparent #999;
		display:block; 
		width:0;
	}

	.partner-mail:after {
		content:"";
		position:absolute;
		top:-100px;
		right:60px; 
		border-width:100px 20px 0 0 ;
		border-style:solid;
		border-color:transparent #fff;
		display:block; 
		width:0;
	}

}
.change-language{
	margin: 0px;
}

.partner-us{
	margin-top: 50px; 
	padding: 100px 0px;
	background: url(/assets/partners.jpg) center;
	.container{
		// background: #fff;
	}
	.about-partner{
		background: #74c5fc;
		color: #fff;
		padding: 33px 10px;
		.title{
			font-size: 23px;
			font-weight: bold;
			font-style: italic;
			margin: 0px;
			font-family: sp;
		}
		.sub-title{
			margin: 0px;
			font-size: 18px;
			font-weight: bold;
		}
	}
}