.user-settings{
	margin: 75px 0px;
}
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.error{
	color: red;
	display: inline-block;
	padding-left: 10px;
}
.hide-element{
    display: none;
}
.nav-tabs {
	margin-bottom: 0;
}
form{
	.input{
		padding: 5px;
		label{
			display: inline-block;
			width: 150px;
		}
		input,select{
			height: 35px;
			width: 220px;
		}
	}
	.btn{
		margin-left: 130px;
	}
}
.all-products{
	.product{
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		margin: 10px;
		border-bottom: 1px #ddd solid;
		border-radius: 10px;
		background: #ddd;
		.title{
			font-weight: bold;
			font-size: 15px;
			color: #5A0000;
		}
		.images{
			img{
				width: 150px;
				margin: 10px;
				box-shadow: 0px 0px 3px;
				border-radius: 5px;
			}
		}
		.full-details{
			.close-full{
				display: inline-block;
				position: absolute;
				right: -15px;
				top: -15px;
				background: #fff;
				line-height: 10px;
				padding: 10px;
				border-radius: 20px;
				border: 2px #000 solid;
				cursor: pointer;
				z-index: 10;
			}
			.left,.right{
				vertical-align: top;
				display: inline-block;
				width: 45%;
			}
			.date-time{
				color: #666;
				span{
					display: inline-block;
					&:nth-child(even){
						margin-left: 30px;
						color:#000;
					}
				}
			}
		}
		.less-details{
			cursor: pointer;
			padding:10px; 
			display: inline-block;
			.title{
				text-align: center;

			}
		}
	}
}

