<%= stylesheet_link_tag  "products", :media => "all" %>

<section class="category-products">
	<div class="container">
		<div class="row">
			<div class="span3 category-list">
				<div class="title">Categories</div>
				<ul>
					<li class="category">
						<input type="checkbox" data-id="1" id="category-1">
						<label for="category-1">Catagory 1</label>
					</li>
					<li class="category">
						<input type="checkbox" data-id="2" id="category-2">
						<label for="category-2">Catagory 2</label>
					</li>
					<li class="category">
						<input type="checkbox" data-id="3" id="category-3">
						<label for="category-3">Catagory 3</label>
					</li>
					<li class="category">
						<input type="checkbox" data-id="4" id="category-4">
						<label for="category-4">Catagory 4</label>
					</li>
				</ul>
			</div>
			<div class="span9 product-list">
				<div class="result-no">5 Results found</div>
				<div class="all-products">
					<% for i in 1..8 %>
					<div class="product-list-item">
						<div class="close-full hide">x</div>
						<div class="thumb">
							<div class="show-full">
								<div class="hide-show-img"></div>
								<img src="/assets/ts4.png">
								<div class="name">Product <%=i%></div>
							</div>
							<a href="/designs/1" class="choose-btn" title="">Choose</a>
						</div>
						<div class="full-details hide	">
							<div class="left-side">
								<img src="/assets/ts4.png">
							</div>
							<div class="right-side">
								<div class="name">Product 1</div>
								<div class="images">
									<img src="/assets/ts3.png">
									<img src="/assets/ts4.png">
								</div>
								<div class="price-by-size">
									<div class="title">Various Price</div>
									<div class="list-size">
										<label><span>YXS</span> - $15</label>
										<label><span>ys</span> - $15</label>
										<label><span>ym</span> - $15</label>
										<label><span>yl</span> - $15</label>
										<label><span>yxl</span> - $15</label>
										<label><span>s</span> - $15</label>
										<label><span>m</span> - $15</label>
										<label><span>l</span> - $15</label>
										<label><span>xl</span> - $15</label>
										<label><span>xxl</span> - $15</label>
										<label><span>3xl</span> - $15</label>
										<label><span>4xl</span> - $15</label>
										<label><span>5xl</span> - $15</label>
									</div>
								</div>
							</div>
							<div class="desc">
								<div class="title">Description</div>
								<p>asdf sadf fsdjh dighren vusig asdf sadf fsdjh dighren vusig asdf sadf fsdjh dighren vusig asdf sadf fsdjh dighren vusig asdf sadf fsdjh dighren vusig rgks gdsflkgjsdfgokjf sdfih gosfdgkjdf</p>
								<div class="title">Category</div>
								<p>Category Name 1</p>
								<a href="/designs/1" class="choose-btn" title="">Choose</a>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on("click",".show-full",function(){
			$(".close-full").each(function(){
				$(this).trigger("click")
			});
			$(".all-products").prepend($(this).closest(".product-list-item"));
			$(this).closest(".product-list-item").find(".thumb").hide(200);
			$(this).closest(".product-list-item").find(".full-details").show();
			$(this).closest(".product-list-item").find(".close-full").removeClass("hide");
			$(window).scrollTop(70);
			return false;
		});

		$(document).on("click",".close-full",function(){
			$(this).closest(".product-list-item").find(".thumb").show();
			$(this).closest(".product-list-item").find(".close-full").addClass("hide");
			$(this).closest(".product-list-item").find(".full-details").hide(200);
			return false;
		});

		$(document).on("click",".full-details .images img",function(){
			$(".left-side img").attr("src",$(this).attr("src"));
			
		});
	});
</script>