<hr class="footer-border">
	<section class="footer">
		<div class="other-nav">
			<div class="container">
				<div class="row">
					<div class="span9 footer-link-box">
						<div class="footer-links">
							<div class="link-head">Custom products</div>
							<ul>
								<li><a href="#">Tshirts</a></li>
								<li><a href="#">Napkins</a></li>
								<li><a href="#">Bags</a></li>
								<li><a href="#">Mugs</a></li>
								<li><a href="#">Cases</a></li>
								<li><a href="#">and more</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<div class="link-head">For whom</div>
							<ul>
								<li><a href="#">For marketing</a></li>
								<li><a href="#">For business</a></li>
								<li><a href="#">For events</a></li>
								<li><a href="#">For organisation</a></li>
								<li><a href="#">For special ocasion</a></li>
								<li><a href="#">For gifts</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<div class="link-head">How to design</div>
							<ul class="tick-list">
								<li><a href="#">Withour artwork</a></li>
								<li><a href="#">With your design</a></li>
								<li><a href="#">we create custom design for</a></li>
								<li><a href="#">large orders</a></li>
								<li><a href="#">Sell your merchandise with your</a></li>
								<li><a href="#">business name and logo</a></li>
							</ul>
						</div>
						<div class="footer-links">
							<div class="link-head">Sitemap</div>
							<ul class="tick-list">
								<li><a href="/about_us">About us</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Legal terms</a></li>
								<li><a href="#">Privacy policy</a></li>
								<li><a href="#">Partnership</a></li>
								<li><a href="#">Donec et lorem suscipit</a></li>
							</ul>
						</div>
					</div>
					<div class="span3 contact">
						<div class="link-head">Contact Us</div>
						<div class="address">
							<span>Codingmart technologies</span>
							<span>No 3250/a, 3rd floor</span>
							<span>4th cross, 10 th main</span>
							<span>Indiranagar</span>
							<span>Bangalore - 560038</span>
						</div>
						<hr class="contact-border">
						<div class="follow-us">
							<a class="social-gplus" href="#"></a>
							<a class="social-in" href="#"></a>
							<a class="social-rss" href="#"></a>
							<a class="social-fb" href="#"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-links">
			<div class="container">
				<div class="row">
					<div class="span6">
						<span>&copy; Copyright 2013 Codingmart technologies, All Rights Reserved.</span>
					</div>			            	          
					<div class="span6">
						<a href="/about_us">About Us</a>
						<a href="#">Delivery & Returns</a>
						<a href="#">Terms & Conditions</a>
						<a href="/contact">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>

