<body>
	<header>
		<div class="container">
		<a href="/" class="home-link" title="">
				<img src="/assets/logoa.png">
				<span class="logo-name">Mobby<span>art</span></span>
			</a>
			<nav class="cl-effect-21">
				<a href="/">Home</a>
				<a href="/about_us">About</a>
				<a href="/designs">Create</a>
				<a href="/contact">Contact</a>
				<% if user_signed_in? %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
				<% else %>
				<%= link_to "Sign in", new_user_session_path %>
				<% end %>
			</nav>
		</div>
	</header>
	<p>
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <%= content_tag :div, msg, :id => "flash_#{name}" %>
	  <% end %>
	<% end %>
	<p>
