
<body>
	<header>
		<div class="container">
			<img src="/assets/logo.png">
			<nav class="cl-effect-21">
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Create</a>
				<% if user_signed_in? %>
				 <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				 <% else %>
				 <%= link_to "Login", new_user_session_path %>
                 <% end %>
				<a href="#">Contact</a>
			</nav>
		</div>
	</header>